* {
  font-family: 'Raleway', sans-serif;
}

html { 
  background: url(../images/store.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.container {
  background-color: #ecf0f1;
  width: 40%;
  height: 450px;
  border-radius: 13px;
  opacity: 0.8;
  margin: 0 auto;
  margin-top: 70px;
}

.container-header {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #c0392b;
  padding: 15px;
}

.list-textbox p {
  text-align: center;
}

input.item {
  padding: 5px;
  border: 1px solid #000;
  width: 50%;
  margin: 15px 0 5px 135px;
  font-weight: bolder;
  font-size: 16px;
}

.fa-plus {
  padding: 15px;
}

input.listOfItemsCheckbox {
  padding: 5px;
  width: 5%;
  margin: 15px 0 5px 135px;
  font-weight: bolder;
  font-size: 16px;
}

.removeItem {
  padding: 5px;
  margin: 15px 0 5px 135px;
}

hr {
  width: 50%;
}